{
    "printWidth": 110,
    "tabWidth": 4,
    "singleQuote": true,
    "bracketSameLine": true,
    "trailingComma": "es5",
    "useTabs": false,
    "semi": true,
    "quoteProps": "as-needed",
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "arrowParens": "avoid",
    "endOfLine": "auto"
}